body {
    margin: 0 auto;
    max-width: 1024px;
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#navigation-left {
    width: 15%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

#section {
    padding: 5px;
    display: inline-block;
    min-height: 75%;
    width: 72%;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    display: block;
}

#menu {
    list-style-type: none;
}

#menu li {
    background-color: black;
    padding: 5px 25px 5px 25px;
    display: inline;
}

#menu li a {
    color: white;
}

li a {
    text-decoration: none;
    text-overflow: ellipsis;
}

ul {
    cursor: pointer;
}

#event {
    padding-left: 10px;
    list-style: none;
}


