* {
    /*border: 1px dashed #f00;*/
}

body {
    margin: 0 auto;
    max-width: 1024px;
}

#welcome {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

#header {
    background: url("../images/events-background.jpg");
    background-size: cover;
    color: white;
    padding: 0px;
}

#navigation-left {
    width: 15%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

#section {
    padding: 5px;
    display: inline-block;
    min-height: 75%;
    width: 72%;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    display: block;
}

#login {
    display: inline-block;
    float: right;
}

#login a {
    color: white;
}

#menu {
    background: rgba(0, 0, 0, 0.5);
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

#menu li {
    margin: 5px 25px 5px 25px;
    display: inline;
}

#menu li a {
    color: white;
}

#menu li #login-box {
    color: white;
}

a {
    text-decoration: none;
    color: #00c6ff;
}

.drop-list {
    cursor: pointer;
}

#event {
    padding-left: 10px;
    list-style: none;
}


